body{
  font-size: 24px;
  font-family: akkurat;
  color: blue;
}

.title{
  padding-top: 30px;
  color: blue;
  font-size: 72px;
  font-weight: bold;
  font-family: louise;
  line-height: 0.8;
}

.h1{
  color: magenta;
  padding-top: 50px;
  font-size: 28px;
  font-weight: bold;
  font-family: mono;
}

.h2{
  font-size: 20px;
  font-weight: bold;
  font-family: mono;
}

.link{
  color: gray;
}

.link:hover{
  font-family: mono;
  color: magenta;
}

.background {
	background-image: radial-gradient(white, white, blue);
  background-attachment: fixed;
}


img {
  max-width:100%;
  max-height:100%;
  padding: 5px 0% 5px;
}

.imgbox{
  box-sizing: border-box;
	padding: 12px 8% 12px;
	border: 4px dotted magenta;
}

.imgbox .imgtitle{
  font-size: 24px;
  text-align: center;
  font-family: mono;
  font-weight: bold;
  line-height: 0.9;
  padding: 10px 0px 10px;
}

.imgbox .imgbody{
  font-size: 16px;
  line-height: 1.2;
  padding: 5px 0px 15px;
}




hr.pink{
  border-top: 1px solid magenta;
  border-bottom: 1px solid magenta;
}

.vl {
  border-left: 1px solid magenta;
  border-right: : 1px solid magenta;
  height: 100%;
  right: 67%;
}




.column {
  float: left;
  padding: 30px;
}

.left {
  width: 33%;
}

.right {
  width: 67%;
}

.row {
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




@font-face {
  font-family: akkurat;
  src: url(Akkurat-Regular.otf);
}

@font-face {
  font-family: akkurat;
  font-weight: bold;
  src: url(Akkurat-black.otf);
}

@font-face {
  font-family: mono;
  src: url(AkkuratMono-Regular.otf);
}

@font-face {
  font-family: mono;
  font-weight: bold;
  src: url(AkkuratMono-Bold.otf);
}

@font-face {
  font-family: alpina;
  src: url(GT-Alpina-Standard-Regular.otf);
}

@font-face {
  font-family: louise;
  src: url(Louise-Regular.otf);
}
