html {
	scroll-behavior: smooth; /* Makes anchor links scroll smoothly */
  background-color: #EAFBFF;
  height: 100%;
}

* {
  box-sizing: border-box;
}



body {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: PP Neue Montreal;
	color: #32C0C9;
	max-width: 100vw;
	overflow-x: hidden;
  height: 100%;
}

/*Text Styles*/

a {
  color: #32C0C9;
  text-decoration: none;
}

a:hover {
  color: #EE2B88;
}

h1 {
  margin: 0;
	padding: 0;
  font-size: 10vw;
  line-height: 0.9;
  color: #32C0C9;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 36;
  line-height: 1.0;
  color: #EE2B88;
  text-transform: uppercase;
  font-family: GT America Mono;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24;
  color: #EE2B88;
  font-family: GT America Mono;
  padding-top: 20px;
  font-weight: normal;
}

p {
  font-size: 20px;
  line-height: 1.4;
  color: #32C0C9;
  max-width: 600px;
  font-family: PP Neue Montreal;
}

.subtitle {
  position: absolute;
  bottom: 10px;
  max-width: 40vw;
  font-size: 24px;
}

hr {
  border-top: 2px #32C0C9 solid;
  border-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 6px;
  border-style: dotted;
}



/* Header stuff */

header {
	width: 100vw;
	height: 100vh;

  font-size: 150px;
  color: #32C0C9;

  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  padding: 20px 35px 20px;
  gap: 20px;
}

.left {
  /*grid-column-start: 1;
  grid-column-end: 6;*/
}

.mikuhero {
  position: absolute;
  left: -20px;
  bottom: 10px;
}

.hatsune {
  /*grid-column-start: 6;
  grid-column-end: 9;*/
}

.right {
  /*grid-column-start: 9;
  grid-column-end: 10;*/

}

.vl {
  border-left: 2px solid #32C0C9;
  padding: 0px 20px 0px;
  height: 95vh;

}



/* body stuff */

.content {
  display: grid;
  grid-template-columns: 59vw 39vw;
  padding: 60px 10px 20px;
  gap: 20px;
  height: 100%
}



#left2 {
  height: 100%;
  overflow: auto;
  padding-right:10px;
}

.bcgrid {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}

#right2 {
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
}

.tracklist {
  align-self: start;

  display: grid;
  grid-template-columns: 2fr 1fr 0.3fr 0.3fr;
  /*grid-auto-rows: minmax(min-content, max-content);*/
  padding: 10px 10px 20px;
  column-gap: 20px;
  row-gap: 5px;
  align-items: stretch; /* Makes grid items the same height */

  font-size: 20px;
  color: #32C0C9;
}

.sidebar {
  font-family: GT America Mono;
  padding-left: 10px;
  align-self: end;
}

/* BodyCopy grid*/

/*
.bc1 { grid-area: 1 / 1 / 2 / 2; }
.bc2 { grid-area: 2 / 1 / 3 / 2; }
.bc3 { grid-area: 3 / 1 / 4 / 2; }

.head1 { grid-area: 1 / 2 / 2 / 3; }
.head2 { grid-area: 2 / 2 / 3 / 3; }
.head3 { grid-area: 3 / 2 / 4 / 3; }
*/

/*song list */

/*
.entry {}

.songlabel { grid-area: 1 / 1 / 2 / 2; }
.song1 { grid-area: 2 / 1 / 3 / 2; }
.song2 { grid-area: 3 / 1 / 4 / 2; }
.song3 { grid-area: 4 / 1 / 5 / 2; }
.song4 { grid-area: 5 / 1 / 6 / 2; }
.song5 { grid-area: 6 / 1 / 7 / 2; }

.prodlabel { grid-area: 1 / 2 / 2 / 3; }
.prod1 { grid-area: 2 / 2 / 3 / 3; }
.prod2 { grid-area: 3 / 2 / 4 / 3; }
.prod3 { grid-area: 4 / 2 / 5 / 3; }
.prod4 { grid-area: 5 / 2 / 6 / 3; }
.prod5 { grid-area: 6 / 2 / 7 / 3; }

.yrlabel { grid-area: 1 / 3 / 2 / 4; }
.yr1 { grid-area: 2 / 3 / 3 / 4; }
.yr2 { grid-area: 3 / 3 / 4 / 4; }
.yr3 { grid-area: 4 / 3 / 5 / 4; }
.yr4 { grid-area: 5 / 3 / 6 / 4; }
.yr5 { grid-area: 6 / 3 / 7 / 4; }

.play0 { grid-area: 1 / 4 / 2 / 5; }
.play1 { grid-area: 2 / 4 / 3 / 5; }
.play2 { grid-area: 3 / 4 / 4 / 5; }
.play3 { grid-area: 4 / 4 / 5 / 5; }
.play4 { grid-area: 5 / 4 / 6 / 5; }
.play5 { grid-area: 6 / 4 / 7 / 5; }

.entry:after {
  content:'';
  position:absolute;
  border-bottom:1px solid black;
  top:-20px;left:0;
  height:1px;
  width:1000%;
}

*/

/*image bank!*/

/*.imgbank {
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.imgtext {
  font-size: 40px;
  color: #32C0C9;
  color: white;
  font-family: GT America Mono;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.container:hover .imgtext{
  opacity: 1;
}

*/



/* BANNER! */

.banner {
	position: relative;
	background-color: #EE2B88;
  top: 0px;
	/* width: 100vw; */
  display: flex;
  padding-left: 20px;
  padding-bottom: 5px;

  color: white;
  font-size: 36px;
  font-family: GT America Mono;

  /*
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  */
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee h2{
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Miku animation */

.mikuani {
  animation: slaymove 1s;
}

@keyframes slaymove {
  from {
      transform: translateX(-100%);
      opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*spinning on hover*/

.imgspin:hover {
  animation: spin 1s;
}

/*
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
*/

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/*mobile responsive */

@media screen and (max-width:800px) {

  html, body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: inherit;
  }

  /*header */


  header {
    display: inline-block;
    padding: 10px;
		margin-bottom: 40px;
		height: auto;

  }

  .mobilemiku {
    width:100vw;
    height:60vh;
    background-image: url(EmDTg93WoAYAZOF.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 45vh;
  }

  .clearmiku {
    opacity: 0.7;
  }

  .mikuhero {
    position: inherit;
  }

  .left {
    display: none;
  }

  .right {
    display:none;
  }


	.marqmobile {
		display: none;
	}




  /*text styles*/

  h1 {
    position: inherit;
    bottom: 10px;
    font-size: 19vw;
  }

	h2 {
		padding: 10px 0px 10px;
	}

  .subtitle, p {
    font-size: 16px;
    max-width: 70vw;
  }

  .subtitle {
    position: inherit;
    top: 100vh;
  }

  .vl {
    border: 0px;
		height: 60vh;
  }

	hr {
		padding: 10px 0px 10px;
		border-left: 0px;
		border-right: 0px;
	}



  /*stuff*/

  .content {
    display:contents;
  }

  #left {
    grid-area: { 2 / 3 / 1 / 2 };
  }

  #right {
    display: inline-block;
    grid-area: { 1 / 2 / 1 / 2 };
  }

  .bcgrid {
    display:inline-block;
  }

  .tracklist {
    display: none;
  }

  .sidebar {
    display:none;
  }
}






/* Fonts */

@font-face {
  font-family: PP Neue Montreal;
  font-weight: normal;
  src: url(PPNeueMontreal-Regular.ttf);
}

@font-face {
  font-family: PP Neue Montreal;
  font-weight: bold;
  src: url(PPNeueMontreal-Semibold.ttf);
}


@font-face {
  font-family: GT America Mono;
  font-weight: normal;
  src: url(GT-America-Mono-Medium.otf);
}

/* @font-face {
  font-family: GT America Mono;
  font-weight: lighter;
  src: url(GT-America-Mono-Regular.otf);
} */

@font-face {
  font-family: GT America Mono;
  font-weight: bold;
  src: url(GT-America-Mono-Bold.otf);
}

@font-face {
  font-family: Louise;
  src: url(Louise-Regular.otf);
}
